---
import Welcome from "../components/Welcome.astro";
import Login from "../components/Login.tsx";
---
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
  <Welcome/>
  <Login/>
  </body>
</html>
