---
import Welcome from "../components/Welcome.astro";
import Login from "../components/Login";
---
<html lang="en">
  <head>
    <title>Login to PokeDeck</title>
  </head>
  <body>
  <Welcome/>
  <Login/>
  </body>
</html>
