---
import Layout from "./Layout.astro";
import { Header } from "../components/Header";

export interface Props {
  title: string;
  showFlip: boolean;
}

const { title, showFlip } = Astro.props;

---
<Layout title={title}>
  <div class="w-full h-20 sticky top-0 bg-purple-900 mb-10 z-50">
    <Header client:only showFlip={showFlip}/>
  </div>
  <slot/>
</Layout>
